body{
   margin-left: 0%;
   margin-right: 0%;
   background-color: black;
   /* text-align: center; */
   font-family: "PT Serif", serif;
  
}

nav{
    background-color: goldenrod;
    color: white;
    height: 50px;
    font-size: 30px;
    font-weight: 700;
    padding-top: 20px;
    padding-left: 10px;
}
.out{
    background-color: rgb(16, 13, 13);
    width: 400px;
    margin-top: 150px;
    margin-left: 560px;
}
.in{
    margin-left: 20px;
    padding-bottom: 20px;
    background-color: rgb(16, 13, 13);
}
.out1{
    background-color: rgb(16, 13, 13);
    width: 600px;
    margin-top: 50px;
    margin-left: 500px;
}
.in1{
    margin-left: 20px;
    padding-bottom: 20px;
    background-color: rgb(16, 13, 13);
}
 
h1{
    text-align: center;
    margin-left: -20px;
    margin-bottom: 40px;
    padding-top: 20px;
    color: goldenrod;
}

h3{
    color: goldenrod;
    margin-bottom: 0px;
}

input{
    width: 320px;
    height: 25px;
    margin-top: 3px;
    border-radius: 6px;
    border: 0px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.btn{
    width: 340px;
    margin-top: 20px;
    height: 40px;
    border-radius: 20px;
    background-color: goldenrod;
    margin-bottom: 10px;
    font-weight: 700;
    font-family: "PT Serif", serif;
}

input:focus{
    border: 3px solid goldenrod;
    outline: 1px solid goldenrod;
   
    height: 21px;
}
.link{
    margin: 5px;
    margin-left: 80px;
    font-size: 14px;
}
.not{
    color: goldenrod;
    margin: 0%;
    margin-left: 5px;
    margin-top: 3px;
   

}

a{
    color: rgb(183, 176, 176);
    text-decoration: none;
}
.msg{
    color: goldenrod;
    
}

.user{
    color: goldenrod;
    margin-left: 8px;
    font-size: 20px;
    padding-top: 10px;
}
textarea{
    width: 550px;
    height: 300px !important;
    
    
    margin-top: 3px;
    border-radius: 6px;
    border: 0px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

textarea:focus{
    border: 3px solid goldenrod;
    outline: 1px solid goldenrod;
   
   height: 296px;
}
.button1{
    
    width: 100px;
    margin-top: 20px;
    height: 40px;
    border-radius: 20px;
    background-color: goldenrod;
    margin-bottom: 10px;
    font-weight: 700;
    font-family: "PT Serif", serif;
}
p{
    color: white;
}

.logou{


    color: goldenrod;
    
    border-radius: 20px;
    width: 90px;
    height: 40px;
    font-weight: 500;
    font-family: "PT Serif", serif;
    padding-top: -20px;
   
    background-color: white;


   
}
.log{
    display: flex;
    gap: 1250px;
}