<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Birthstone&family=Ephesis&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div class="out">
        <div class="in">
            <H2>The Notes Management System</H2>
            <p>here you can store the notes and upadate the notes</p><br>
            <div class="all">
                <div class="btn">
                    <a href="/login"> <button class="o">Login</button></a>
                </div>
                <div class="btn2">
                    <a href="/register"> <button class="t">Register</button></a>
                </div>
            </div>

        </div>
    </div>
</body>

</html>